# Created by venv; see https://docs.python.org/3/library/venv.html
Include
Lib
Scripts
pyvenv.cfg

DATA/unused
.xlsx
DOCS/Análise Exploratória - MODELO.docx
DOCS/resumo.txt

**/*.localz
**/*.local
**/*.git
**/*.DS_Store